@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  height: 100%;
  width: 100%;
}

*{
  font-family: IranSans;
}

@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekanBlack.ttf');
  font-weight: 900;
}

@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekanBold.ttf');
  font-weight: 700;
}


@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekanExtraBold.ttf');
  font-weight: 800;
}


@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekan-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekanRegular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekanLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANYekanThin.ttf');
  font-weight: 100;
}

.opacityanimstart{
  opacity: 1;
  animation: opacityanim 1s 1;
}

.widthanimstart{
  width: 100%;
  opacity: 1;
  animation: widthanim 1s 1;
}

@keyframes opacityanim {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
input:checked{
  background-color: orange;
}
@keyframes widthanim {
  0% {
    width: 0%;
    opacity: 0;
  }
  100%{
    width: 100%;
    opacity: 1;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}